a = input()
marks = ['2', '3', '4', '5']
u = 0 
s = 0 
t = 0 

for m in a:
    if m == '2':
        u += 1
    elif m in marks:
        s += 1
        t += int(m)

print(u)
print(t / s if s > 0 else 0) 
